<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li>
                    <a ui-sref="app.events">Home</a>
                </li>
                <li>
                    <a ui-sref="app.feedbacks" class="active">Feedbacks</a>
                </li>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->
<!--  START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <legend>Feedbacks</legend>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover demo-table-dynamic">
                    <thead>
                        <tr>
                            <th style="width:10%;"></th>
                            <th style="width:20%;"><input type="text" class="form-control" ng-model="searchEvent" placeholder="Event Name"></th>
                            <th style="width:20%;"><input type="text" class = "form-control" ng-model="searchSubscriberName" placeholder="Member Name"></th>
                            <th style="width:45%;"><input type="text" class = "form-control" ng-model="searchFeedback" placeholder="Feedback"></th>
                            <th style="width:5%;"></th>
                        </tr>
                        <tr>
                            <th style="width:10%;"><i class="fa fa-trash-o" aria-hidden="true"></i></th>
                            <th style="width:20%;">Event Name</th>
                            <th style="width:20%;">Member Name</th>
                            <th style="width:45%;">Feedback</th>
                            <th style="width:5%;">Approved</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in feedbacks | filter:{eventName: searchEvent}  | filter:{subscriberName: searchSubscriberName} | filter:{feedback: searchFeedback} ">
                            <td class="v-align-middle">
                                {{$index+1}}
                            </td>
                            <td class="v-align-middle">
                                {{item.eventName}}
                            </td>
                            <td class="v-align-middle">
                                {{item.subscriberName}}
                            </td>
                            <td class="v-align-middle">
                                {{item.feedback}}
                            </td>
                            <td class="v-align-middle">
                                <a ng-click = "approveFeedback($index, item)"><span ng-show ="item.isApproved == 1" class="pull-right glyphicon glyphicon-ok" style ="font-size:18px"></span><span ng-show = "item.isApproved == 0" class="pull-right glyphicon glyphicon-remove" style ="font-size:18px"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
			</div>
        </div>
    </div>
</div>
<!-- END CONTAINER FLUID -->