<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li>
                    <a ui-sref="app.events">Home</a>
                </li>
                <li>
                    <a ui-sref="app.groupMembers" class="active">Group Members</a>
                </li>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->
<!--  START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <legend>List of Group Members</legend>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary btn-cons full-width" ui-sref="app.addGroupMember"><i class="fa fa-plus" aria-hidden="true"></i> Add Group Member</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover demo-table-dynamic">
                    <thead>
                        <tr>
                            <th style="width:5%;"></th>
                            <th style="width:5%;"></th>
                            <th style="width:20%;"><input type="text" class="form-control" ng-model="searchSubscriber" placeholder="Member Name"></th>
                            <th style="width:20%;"><input type="text" class="form-control" ng-model="searchParent" placeholder="Parent Name"></th>
                            <th style="width:15%;"><input type="text" class="form-control" ng-model="searchContactNo" placeholder="Contact No"></th>
                            <th style="width:15%;"><input type="text" class="form-control" ng-model="searchEmailId" placeholder="Email Id"></th>
                            <th style="width:20%;"></th>
                        </tr>
                        <tr>
                            <th style="width:5%;"><i class="fa fa-trash-o" aria-hidden="true"></i></th>
                            <th style="width:5%;">#</th>
                            <th style="width:20%;">Member Name</th>
                            <th style="width:20%;">Parent Name</th>
                            <th style="width:15%;">Contact No</th>
                            <th style="width:15%;">Email Id</th>
                            <th style="width:20%;">Photo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in subscribers | filter:{memberName: searchSubscriber} | filter:{position:searchParent} | filter:{contactNo: searchContactNo} | filter:{emailId: searchEmailId} ">
                            <td class="v-align-middle">
                                <i class="fa fa-trash-o" confirmed-click="deleteGroupMember($index, item.subscriberId)" ng-confirm-click="Are you sure you want to delete this Group Member?" aria-hidden="true"></i>
                            </td>
                            <td class="v-align-middle">
                                {{$index+1}}
                            </td>
                            <td class="v-align-middle">
                                <a ui-sref="app.groupMemberDetails({subscriberId: item.subscriberId})">{{item.subscriberName}}</a>
                            </td>
                            <td class="v-align-middle">
                                {{item.parentName}}
                            </td>
                            <td class="v-align-middle">
                                {{item.contactNo}}
                            </td>
                            <td class="v-align-middle">
                                {{item.emailId}}
                            </td>
                            <td class="v-align-middle">
                                <img ng-src="{{item.imageUrl}}" style="max-height:auto;max-width:50%;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END CONTAINER FLUID -->